# Ignorer les fichiers objets
*.o

# Ignorer le dossier objet/
objet/

# Ignorer l'executable minishell
minishell

# Ignorer les fichiers de guide
complementary/

# Ignorer le dossier .vscode
.vscode/